<div class="card">
    <img class="card-img-top" src="{{product.Image}}" alt="Card image cap"/>
<!--
    <div class="d-flex flex-row justify-content-center text-warning">
        {{message}}
    </div>
-->
    <div class="card-body">
        <h5 class="card-title">{{product.Name}}
            <label  class="float-end">{{product.LikeCount}}</label>
        </h5>
        <p class="card-text">{{product.Comment}}</p>
     <div *ngIf="product.Discount > 0; else Divdiscount">
           <span class="text-decoration-line-through">{{product.Price}}€</span>
        <span class="text-danger m-2">{{product.Price * product.Discount / 100}}€</span>
    </div>
    </div>
    <div class="card-footer">
        <div class="btn-ground text-center pb-1">
            <button type="button" class="btn btn-primary m-2"><i class="fa fa-shopping-cart"></i>Ajouter au panier</button>
            <button type="button" class="btn btn-primary" (click)="product.LikeCount = product.LikeCount + 1"><i class="fa fa-info"></i> J'aime</button>
        </div>
    </div>
</div>
<div> <ng-template #Divdiscount><span>{{product.Price}}€</span></ng-template>   </div>
