<div class="card myclass" style="width: 18rem;">
        <img class="card-img-top" src="/images/@product.Image" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Comment</p>
            <span class="text-decoration-line-through">@product.Price€</span>
            <span class="text-danger m-2">@( product.Price * product.Discount / 100 )€</span>
        </div>
    </div>

