<div class="col">
   
  <div :class="{'card h-100 shadow-sm flex-column-reverse':true, 'card h-100 shadow-sm':(readonly)}">
      <img :src="`${product.pro.Image}`" class="card-img-top" alt="..." style="width:100%">
      <div class="card-body row ">
          <div class="clearfix mb-3 col-10">
              <span class="float-start badge rounded-pill bg-primary">{{product.pro.Name}}</span>
          </div>
          <div class="clearfix mbr-3 col-2">
              <span class="float-start badge rounded-pill bg-primary">{{product.pro.LikeCount}}</span>
          </div>
          <p class="card-title">{{product.pro.Comment}}</p>
          <div v-if="product.pro.Discount > 0">          
            <span class="text-decoration-line-through">{{product.pro.Price}}€</span>
            <span class="text-danger m-2">{{DiscountPrice}}€</span>
          </div>
          <span v-else>{{product.pro.Price}}€</span>   
      </div>
      
      <div class="card-footer" v-show="!readonly">
          <div class="btn-ground text-center pb-1">
              <button type="button" class="btn btn-primary" @click="AddProduct()" >Ajouter au panier</button>
              <button type="button" class="btn btn-primary" @click="this.product.pro.LikeCount +=1">J'aime</button>
          </div>
      </div>
  </div>
</div>