<div class="card">
    <img class="card-img-top" src="{{product.Image}}" alt="Card image cap"/>
    <div class="card-body">
        <h5 class="card-title">{{product.Name}}
            <label  class="float-end">{{valueLikes}}</label>
        </h5>
        <p class="card-text">{{product.Comment}}</p>
     <div *ngIf="product.Discount > 0; else Divdiscount">
           <span class="text-decoration-line-through">{{product.Price}}€</span>
        <span class="text-danger m-2">{{product.Price * product.Discount / 100}}€</span>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-primary">Ajouter au panier</button>
            <div class="float-end">
            <button type="button" class="btn btn-warning" (click)="product.valueLikes++;"></button>
        </div>

        </div>
    </div>
    </div>
</div>
    <div>   
    <ng-template #Divdiscount>
     <span>{{product.Price}}€</span>
      </ng-template>   
    </div>
